@charset "utf-8";
/* CSS Document */

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 5% auto auto;
    width: 90%;
    color: #5b5b5b;
  }
  .left,.right{
    width: 40%;
  }
  .left h1{
    font-size: 5em;
    font-weight: bolder;
  }
  .left h3{
    font-size: 2em;
  }
  @media screen and (max-width: 768px){
    .left, .right{
      width: 100%;
    }
  }